@using EntityLayer.Concrete
@model List<Notification>

@{
    ViewData["Title"] = "AllNotification";
    Layout = "~/Views/Shared/WriterLayout.cshtml";
}

<link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
<h1>Bütün Bildirimler</h1>

<table class="table">
    <thead class="thead-dark">
        <tr>
            <th>#</th>
            <th>Bildirim</th>
            <th>Tarih</th>
        </tr>
    </thead>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.NotificationID</td>
            <td>@item.NotificationDetails</td>
            <td>@item.NotificationDate.ToShortDateString()</td>
        </tr>
    }
</table>

